
<div class="row">
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="col-xs-12" *ngIf="!isLoading">
    <button class="btn btn-primary" (click)="onNewBook()">New Book</button>
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
  </div>
</div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-book-item
        *ngFor="let bookEl of books; let i = index"
        [book]="bookEl"
        [index]="i"></app-book-item>
    </div>
  </div>
  
