
<a
  style="cursor: pointer;"
  [routerLink]="[book.id]"
  routerLinkActive="active"
  class="list-group-item clearfix">
      <div class="moleskine-wrapper">
        <div class="moleskine-notebook">
          <div class="notebook-cover"  [ngClass]="book.color">
            <img *ngIf="book.imageUrl"
            [src]="book.imageUrl"
            alt="{{ book.title }}"
            class="img-responsive">
            <div class="notebook-skin">{{ book.title }}</div>
            <p class="list-group-item-text">{{ book.description }}</p>
          </div>
          <div class="notebook-page ruled"></div>
        </div>
      </div>
</a>
