<div *ngIf="isLoading" style="text-align: center;">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="isLoadingWrapper" *ngIf="book">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ book.title }}</h1>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-6">
      <img *ngIf="book.imageUrl" [src]="book.imageUrl" alt="{{ book.title }}" class="img-responsive" style="max-height: 300px;">
    </div>
    <div class="col-xs-6">

          {{ book.description }}

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown>
        <button type="button" class="btn btn-primary dropdown-toggle">
          Manage Book <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a style="cursor: pointer;" (click)="onEditBook()">Edit Book</a></li>
          <li><a style="cursor: pointer;" (click)="onDeleteBook()">Delete Book</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let recipe of book.recipes">
          {{ recipe.name }} - {{ recipe.description }}
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="book">
    <app-book-recipes
      [book]="book"
    ></app-book-recipes>
  </div>
</div>


<!-- 
---------------------
-->